<div>
        <div>
                <h4>LoginApp</h4>
                <ul>
                        <li><a href="/dashboard"> dashboard</a></li>
                        <li><a href="/login">login</a></li>
                        <li><a href="/registration">register</a></li>
                        <li><a href="#">logout</a></li>
                </ul>
        </div>
</div>