<div>
      <form action="/login" method="POST">
                
                <input type="text" name="username" placeholder="Email" id=""><br>
                <input type="password" placeholder="Password" name="password" id=""><br>
                <input type="submit" value="Submit">
        </form>  
</div>